<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>its another 404</title>
</head>
<body>
    {{>header}}
    <p>this page for 404 only {{errorMessage}}</p>
    <div class="main-content">
    {{>footer}}
    </div>   
</body>
</html>
